
    
    .flex-container{
        background-color: rgb(249, 248, 248);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190vh;
        height: 190vh;
        flex-direction: column;
    
        }
        
        

        .img{
            padding: 20px;
            width: 500px;
            height: 500px;
            margin: 10px;
          
          } 
          .btn{
            color: white;
            background-color: #A491D2;
            justify-content: center;
            align-content: center; 
            width: 200px;
            height: 60px;
            padding: 25px;
            margin: 25px;
            justify-content: center;
            align-items: center;
        }
     .img1{
        padding: 2px;
        width: 50px;
        height: 50px;
        margin: 2px;
        border-radius: 50%;
    

     }
     

     .fa-solid{
        margin:2px;
     }

     .fa-regular{
     margin: 2px;
     }
     .flex{
        display:flex;
        width: 270px;
        border: silver;
        padding: 1px;
        flex-direction: column;
        }
        .flex-item{
        background-color: white;
        border: solid 1px rgb(162, 149, 149);
        margin: 0px;
        flex-basis: 20px;
        flex-shrink: 1;
    
        
        }
        